<h1>Interests</h1>
<div class="interests-container">
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                League Championship Series
            </mat-card-title>
            <img src="assets/img/interests/LCS.jpg">
            <mat-card-content>
                Some content here.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Cloud9
            </mat-card-title>
            <img src="assets/img/interests/Cloud9.jpg">
            <mat-card-content>
                Some content here.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Origami
            </mat-card-title>
            <img src="assets/img/interests/LCS.jpg">
            <mat-card-content>
                Some content here.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Fire Emblem
            </mat-card-title>
            <img src="assets/img/interests/Fire_Emblem.jpg">
            <mat-card-content>
                Some content here.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Board Games
            </mat-card-title>
            <img src="assets/img/interests/Scythe.png">
            <mat-card-content>
                Some content here.
            </mat-card-content>
        </mat-card>
    </div>
</div>