<h1>Interests</h1>
<div class="interests-container">
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                League Championship Series
            </mat-card-title>
            <img src="assets/img/interests/LCS.jpg">
            <mat-card-content>
                I've been following the professional League of Legends scene since the very beginning of LCS in 2013.  In addition to enjoying the professional
                matches, I also enjoy watching the other content related to the professional scene such as The Dive podcast, This or That, and Hotline League.
                I'd like to say I follow PRO LoL like others follow traditional sports.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Cloud9
            </mat-card-title>
            <img src="assets/img/interests/Cloud9.jpg">
            <mat-card-content>
                I've been a fan of Cloud9 eSports since around 2014/2015.  Though I wasn't too big of a fan when they first entered the LCS,
                I've been following their LoL team very closely these past 5 years, watching them ride the gauntlet in years past and make history
                for North America at each World Championships they attend.  I love the personality of this organization and all the fun memes that they
                bring.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Origami
            </mat-card-title>
            <img src="assets/img/interests/LCS.jpg">
            <mat-card-content>
                Origami has always been an old hobby of mine since childhood.  I started with simple creations such as the swan, box, and balloon, 
                but have since expanded my repretoire to much more complex projects, such as a unicorn, animal bookmarks, and a scooter.  By far my
                most folded projects are self standing letters which usually spell the names of my friends.  I learn most of my creations from
                Jo Nakashima on Youtube! (highly recommend)
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Fire Emblem
            </mat-card-title>
            <img src="assets/img/interests/Fire_Emblem.jpg">
            <mat-card-content>
                I've loved the Fire Emblem franchise for multiple years now.  I've made my way through a good number of titles, some of which including
                Radiant Dawn, Shadow Dragon, Sacred Stones, Awakening, and Blazing Sword.  I'm currently enjoying the new release, Three Houses, when 
                I find time to play.  My favorite characters so far have to be Nephenee, Mia, Shinnon from Radiant Dawn, and Lute and Joshua from Sacred
                Stones.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card-container">
        <mat-card>
            <mat-card-title>
                Board Games
            </mat-card-title>
            <img src="assets/img/interests/Scythe.png">
            <mat-card-content>
                I've only recently gotten into board games, starting my senior year of high school, but have really been enjoying all the games I've
                gotten the chance to play.  It all started with Settlers of Catan, and then branching off into other games such as Lords of Waterdeep, 
                Ticket to Ride, Viticulture, and my favorite, Scythe.  I also enjoy card games, some of which including Deuces (Big 2), Nertz, 
                Napoleon, and Fishbowl.
            </mat-card-content>
        </mat-card>
    </div>
</div>