<h1>George Zhou</h1>
<h6>ZhourgiePorgie (Joe-rgie Porgie)</h6>
<img ngClass.gt-xs="profile" ngClass.xs="profile-xs" src='assets/img/Smile_Square.JPG'>
<div id="links-container">
    <div ngClass.gt-xs="link" ngClass.xs="link-xs">
        <a href="mailto:han_zhou@berkeley.edu">
            <img class="link-img" src="assets/img/Email.png">
        </a>
    </div>
    <div ngClass.gt-xs="link" ngClass.xs="link-xs">
        <a href="https://www.linkedin.com/in/zhourgieporgie/" target="_blank">
            <img class="link-img" src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png">
        </a>
    </div>
    <div ngClass.gt-xs="link" ngClass.xs="link-xs">
        <a href="https://github.com/ZhourgiePorgie" target="_blank">
            <img class="link-img" src="https://image.flaticon.com/icons/svg/25/25231.svg">
        </a>
    </div>
</div>