<h1>Vlogs/Videos</h1>
<div id="link-container">
    <a href="https://www.youtube.com/channel/UC7iKjT-cjNrS3W8aLi0okfw" target="_blank">Check out my channel here!</a>
</div>
<div id="video-container" fxHide.gt-xs>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_kUA70CMdh8" frameborder="0" 
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>
<ngb-carousel fxHide.xs>
    <ng-template ngbSlide>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/_kUA70CMdh8" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/ZNBNOPYs4bU" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/tpkPLMCuPHk" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/HnbtgSBp1CE" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/1QnNVDXy2ko" frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </ng-template>
</ngb-carousel>
