app-nav-bar{
    width: 100%;
    position: fixed;
    z-index: 1;
}

sn-scroll-spy-section {
    padding-top: 75px;
    margin-bottom: 15px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}