<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
    <main>
      <div id="container">
          <sn-scroll-spy-section class="home" id="home" for="main-nav">
            <div>
              <app-home-page></app-home-page>
            </div>
          </sn-scroll-spy-section>
          <div class="home space"></div>

        <sn-scroll-spy-section class="about" id="about" for="main-nav">
          <div>
            <app-about-page></app-about-page>
          </div>
        </sn-scroll-spy-section>
        <div class="about space"></div>

        <sn-scroll-spy-section class="resources" id="resources" for="main-nav">
          <div>
            <app-resource-page></app-resource-page>
          </div>
        </sn-scroll-spy-section>
        <div class="resources space"></div>

        <sn-scroll-spy-section class="vlogs" id="vlogs" for="main-nav">
          <div>
            <app-vlog-page></app-vlog-page>  
          </div>
        </sn-scroll-spy-section>
        <div class="vlogs space"></div>

        <sn-scroll-spy-section class="interests" id="interests" for="main-nav">
          <app-interests-page></app-interests-page>
        </sn-scroll-spy-section>
        <div class="interests space"></div>
          <h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean velit nisl, elementum sit amet leo quis, luctus pellentesque diam. Suspendisse convallis velit id dolor molestie blandit. Curabitur eget nisi lorem. Phasellus a tortor eget sapien scelerisque finibus. Suspendisse scelerisque, risus a finibus convallis, neque mauris porttitor odio, a rhoncus elit felis nec diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent eget placerat ex, nec maximus mauris. Aenean scelerisque, dolor et pulvinar sodales, mi tellus aliquet quam, eget vulputate neque dolor at turpis. Pellentesque aliquam mollis mauris nec tincidunt. Pellentesque auctor fermentum nulla a sollicitudin. Integer dapibus libero a ex venenatis, eget blandit odio elementum. Sed id luctus lacus, sed rhoncus ipsum. Nullam libero neque, interdum sed maximus quis, lacinia id orci. Suspendisse mi lectus, convallis at nisi non, suscipit bibendum nisi.
              Aenean rhoncus, eros nec suscipit consectetur, justo nulla dignissim leo, quis venenatis ante urna ut quam. Nunc nec tempor tellus, id auctor felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui nulla, mattis eget imperdiet quis, ultrices lacinia tortor. Sed in quam quis orci maximus ultrices. Nam et ante felis. Suspendisse interdum tincidunt turpis aliquam pulvinar. Nam tempus metus nec nunc vehicula, et vulputate dolor efficitur. Aliquam congue volutpat ipsum, a accumsan leo mollis et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus eu libero id efficitur. Phasellus molestie dapibus convallis. Nulla gravida viverra sodales. Sed quis arcu sit amet ex fermentum cursus.
              Fusce sollicitudin hendrerit consectetur. Phasellus nunc tellus, fringilla nec tellus quis, molestie hendrerit purus. Nullam ut accumsan massa. Vestibulum enim risus, pulvinar in aliquet vitae, mollis dapibus dolor. Nulla interdum ligula sodales nulla porttitor, in tempus felis ullamcorper. Praesent ultricies metus non orci rhoncus pellentesque. Proin scelerisque gravida neque vitae placerat. Sed tristique interdum mauris, vel accumsan turpis ullamcorper sed. Morbi consequat pulvinar mauris in dictum. In hac habitasse platea dictumst. Nullam tincidunt iaculis arcu, eu tempor nisl fermentum malesuada.
              Aenean scelerisque nisi eu varius elementum. Vivamus vulputate mauris ut nunc feugiat, non efficitur leo porttitor. Maecenas ac luctus mauris. Etiam justo purus, tempus id tortor vitae, aliquam fermentum lorem. Morbi id gravida elit, in sagittis arcu. Nullam pharetra mi vel quam tincidunt, non placerat magna semper. Aenean commodo arcu quis mi semper vehicula. Nam porta justo felis, eget commodo sem dignissim at. Aenean ante risus, bibendum vel consectetur eu, consectetur ac neque. Aliquam accumsan, sem sit amet cursus pretium, lectus velit malesuada massa, ut facilisis felis lorem non est. Morbi nec odio condimentum, imperdiet nibh tincidunt, ornare dolor.
              Suspendisse dignissim, ante molestie ullamcorper blandit, eros leo hendrerit nunc, id sodales arcu neque a nunc. Donec posuere vel massa non dapibus. Quisque ut augue lobortis, pulvinar elit a, porttitor elit. Sed eget dapibus est. Donec vitae volutpat eros, id suscipit diam. Nulla pellentesque lectus eu nulla viverra imperdiet. Maecenas iaculis justo sit amet semper maximus. Nam tempor quis felis vel fringilla. Vivamus interdum consectetur vehicula. Aenean bibendum libero vel mi dapibus mollis.
          </h2>
        </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>