<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav (sidenavClose)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
    <main>
      <div id="container">
          <sn-scroll-spy-section class="home" id="home" for="main-nav">
            <div>
              <app-home-page></app-home-page>
            </div>
          </sn-scroll-spy-section>
          <div class="home space"></div>

        <sn-scroll-spy-section class="about" id="about" for="main-nav">
          <div>
            <app-about-page></app-about-page>
          </div>
        </sn-scroll-spy-section>
        <div class="about space"></div>

        <sn-scroll-spy-section class="resources" id="resources" for="main-nav">
          <div>
            <app-resource-page></app-resource-page>
          </div>
        </sn-scroll-spy-section>
        <div class="resources space"></div>

        <sn-scroll-spy-section class="vlogs" id="vlogs" for="main-nav">
          <div>
            <app-vlog-page></app-vlog-page>  
          </div>
        </sn-scroll-spy-section>
        <div class="vlogs space"></div>

        <sn-scroll-spy-section class="interests" id="interests" for="main-nav">
          <app-interests-page></app-interests-page>
        </sn-scroll-spy-section>
        <div class="interests space"></div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>