main {
    padding: 0px;
}

app-nav-bar {
    width: 100%;
    position: fixed;
    z-index: 1;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}

.space {
    height: 50px;
}

.home {
    background: #f2d1ff;
}

sn-scroll-spy-section {
    padding-top: 64px;
}

.about {
    background: #bdffdc;
}

.resources {
    background: #bdfff7;
}

.vlogs {
    background: #ffe6f4;
}

.interests {
    background: #fffcbd;
}
