<h1>Resources</h1>
<div ngClass.gt-sm='intro' ngClass.sm='intro-sm'>
    <p>
        Here are some crash course resources that I've created for CS61B (Data Structures) at UC Berkeley.
        Each resource comes along with a tl;dr section for those of you too lazy to read the, what I'd like
        to think already short, crash course.
    </p>
</div>
<div fxLayout.xs='column' ngClass.gt-sm='resources-container'>
    <div ngClass.gt-sm='button-container' ngClass.lt-md='button-container-xs' *ngFor='let file of files; let i=index'>
        <button mat-raised-button color='accent' ngClass.gt-xs='button' ngClass.xs='button-xs' (click)='openFile(file)'>
            {{ (i + 1) + ': ' + file.split('_').join(' ') }}
        </button>
    </div>
</div>