h1 {
    text-align: center;
}

p {
    text-align: center;
}

.resources-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 5vw;
    column-count: 2;
    padding-bottom: 500px;
}

.button-container {
    margin-top: 20px;
    width: 25%;
    display: inline-block;
}

.button-container-xs {
    display: flex;
    justify-content: center;
    margin: 20px 15px 0px 15px;
}

.button {
    height: 50px;
    width: 250px;
}

.button-xs {
    width: 200px;
}

.intro {
    margin: 0px 20vw;
}

.intro-sm {
    margin: 0px 5vw;
}