<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a href="#">Home</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items" role="navigation" snScrollSpy id="foo">
            <li>
                <a snScrollSpyItem for="foo" href="#section1">Section 1</a>
            </li>
            <li>
                <a snScrollSpyItem for="foo" href="#section2">Section 2</a>
            </li>
            <li>
                <a snScrollSpyItem for="foo" href="#section3">Section 3</a>
            </li>
            <li>
                <a snScrollSpyItem for="foo" href="#section4">Section 4</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
