li {
    display: inline;
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}

a.active {
    color: #69f0ae;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}